# Не игнорировать сам .gitignore
!.gitignore

# Нужные папки
!mods/
!config/
!defaultconfigs/
!kubejs/
!resourcepacks/
!shaderpacks/

# Разрешить содержимое этих папок
!mods/**
!config/**
!defaultconfigs/**
!kubejs/**
!resourcepacks/**
!shaderpacks/**

# Нужные отдельные файлы
!README.md
!icon.png