# Кэш и временные файлы
.cache/
.fabric/
logs/
downloads/
screenshots/
saves/
server-resource-packs/
local/

# Личные настройки
options.txt
command_history.txt
usercache.json
realms_persistence.json
debug-profile.json